/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "DOCALLISME";
  src: url(fonts/DOCALLISME\ ON\ STREET.ttf);
}
@font-face {
  font-family: "grunge";
  src: url(fonts/RuasMediumGrunge.ttf);
}
@font-face {
  font-family: "if";
  src: url(fonts/if.regular.ttf);
}
@font-face {
  font-family: "Esquisito";
  src: url(fonts/Esquisitoregular-OOze\ 2.ttf);
}

.page-container {
  background-image: url("images/grunge-concret.jpg");
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
}
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100vw;
  height: 25vh;
}
.upper-section {
  font-family: "Esquisito";
  display: flex;
  height: 10vh;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0.75;
}
.upper-section h1 {
  font-size: 8rem;
}
.upper-section h3 {
  font-size: 4rem;
  margin-right: -5vw;
}
.upper-section p {
  font-size: 6rem;
}

.lower-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lower-section button {
  width: 10vw;
  height: 5vh;
  border-radius: 5px;
  border-top: 6px solid black;
  border-right: 7px solid black;
  font-size: 2rem;
  text-align: center;
  font-family: "grunge";
  transition: transform 50ms ease-in-out;
}
.lower-section button:active {
  transform: scale(0.95);
}
.game-field-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 70vh;
}
.game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: 4rem;
  box-shadow: 10px, 10px, 10px, black;
  width: 65vh;
  height: 65vh;
}
.footer-container {
  width: 100vw;
  height: 2vh;
}
